.e431_196 { 
	width:948px;
	height:548px;
	position:absolute;
}.ei431_196_431_332 { 
	background-color:rgba(255, 255, 255, 1);
	width:948px;
	height:548px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_333 { 
	background-color:rgba(255, 255, 255, 1);
	width:948px;
	height:548px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_342 { 
	background-color:rgba(255, 255, 255, 1);
	width:948px;
	height:548px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_334 { 
	width:948px;
	height:548px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_334_414_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:948px;
	height:548px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_334_414_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:897px;
	height:532px;
	position:absolute;
	left:20px;
	top:312px;
}.ei431_196_431_334_414_21_408_13 { 
	color:rgba(0, 0, 0, 1);
	width:897px;
	height:73px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:EB Garamond;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.ei431_196_431_334_414_25 { 
	width:908px;
	height:124.66350555419922px;
	position:absolute;
	left:20px;
	top:15.582937240600586px;
}.ei431_196_431_334_414_25_408_11 { 
	width:908px;
	height:124.66350555419922px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei431_196_431_334_415_110 { 
	background-color:rgba(255, 255, 255, 1);
	width:905px;
	height:64px;
	position:absolute;
	left:23px;
	top:240px;
}.ei431_196_431_334_415_110_415_86 { 
	color:rgba(0, 0, 0, 1);
	width:905px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.ei431_196_431_351 { 
	background-color:rgba(255, 255, 255, 1);
	width:349px;
	height:548px;
	position:absolute;
	left:599px;
	top:0px;
}.ei431_196_431_343 { 
	width:948px;
	height:548px;
	position:absolute;
	left:-599px;
	top:0px;
}.ei431_196_431_343_415_126 { 
	background-color:rgba(255, 255, 255, 1);
	width:948px;
	height:548px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_343_415_127 { 
	background-color:rgba(255, 255, 255, 1);
	width:374px;
	height:48px;
	position:absolute;
	left:20px;
	top:48px;
}.ei431_196_431_343_415_127_415_86 { 
	color:rgba(0, 0, 0, 1);
	width:374px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}.ei431_196_431_343_415_129 { 
	width:526px;
	height:288px;
	position:absolute;
	left:402px;
	top:48px;
}.ei431_196_431_343_415_129_408_11 { 
	width:526px;
	height:288px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei431_196_431_343_415_131 { 
	background-color:rgba(255, 255, 255, 1);
	width:908px;
	height:666px;
	position:absolute;
	left:20px;
	top:408px;
}.ei431_196_431_343_415_131_408_13 { 
	color:rgba(0, 0, 0, 1);
	width:908px;
	height:73px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:EB Garamond;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.ei431_196_431_352 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_353 { 
	background-color:rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
	width:960px;
	height:1px;
	position:absolute;
	left:0px;
	top:-60px;
}.ei431_196_431_354 { 
	border-radius:500px;
	background-color:rgba(179.000004529953, 179.000004529953, 179.000004529953, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:-2px;
	top:-62px;
}.ei431_196_431_355 { 
	width:17px;
	height:17px;
	position:absolute;
	left:312px;
	top:-68px;
}.ei431_196_431_356 { 
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_357 { 
	background-color:rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
	width:8px;
	height:16.145105361938477px;
	position:absolute;
	left:4px;
	top:0.4274483621120453px;
}.ei431_196_431_358 { 
	width:17px;
	height:17px;
	position:absolute;
	left:592px;
	top:-68px;
}.ei431_196_431_359 { 
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_360 { 
	background-color:rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:2px;
	top:2px;
}.ei431_196_431_361 { 
	width:17px;
	height:17px;
	position:absolute;
	left:952px;
	top:-68px;
}.ei431_196_431_362 { 
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}.ei431_196_431_363 { 
	background-color:rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
	width:8px;
	height:16.145105361938477px;
	position:absolute;
	left:4px;
	top:0.4274483621120453px;
}.ei431_196_431_396 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:306.5px;
	top:-89px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.ei431_196_431_397 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:29px;
	height:17px;
	position:absolute;
	left:585.5px;
	top:-89px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.ei431_196_431_398 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:946.5px;
	top:-89px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}